<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Guardar_cliente</servlet-name>
        <servlet-class>Guardar_cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consultar_clientes</servlet-name>
        <servlet-class>Consultar_clientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar_cliente</servlet-name>
        <servlet-class>Eliminar_cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editar_cliente</servlet-name>
        <servlet-class>Editar_cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editar2</servlet-name>
        <servlet-class>Editar2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Guardar_cliente</servlet-name>
        <url-pattern>/Guardar_cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consultar_clientes</servlet-name>
        <url-pattern>/Consultar_clientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar_cliente</servlet-name>
        <url-pattern>/Eliminar_cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editar_cliente</servlet-name>
        <url-pattern>/Editar_cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editar2</servlet-name>
        <url-pattern>/Editar2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
